.serch-bar{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
  /* .cardlist{
    margin: 0%;
    padding: 0%;
    background:red;
} */