.cardlist{
width: 85vh;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
text-align: center;
}
.card-container{
    display: flexbox;
    flex-direction: column;
    text-align: center;
    background-color: blueviolet;
    border-radius: 7px;
    padding: 25px;
    cursor: pointer;
}
.card-container:hover{
transform: scale(1.05);
}